@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';

$green: #7ceaa4;
$purple: #3b3d54;

* {
    box-sizing: border-box;
}

.wrap {
    //perspective-origin: 50% 50%;
    max-width: inherit !important;
}

// .page-background {
//     //margin: 3%;
//     //max-width: 600px;
//     margin-left: auto;
//     margin-right: auto;
//     padding: 30px;
//     border-radius: 3px;
//     text-align: center;
//     font-size: 1.4vw;

//     h2 {
//         font-weight: bold;
//         font-size: 6.5vw;
//         font-weight: 900;
//         font-style: italic;
//         color: #dad8ec;
//     }
// }

.svg {
    stroke: $green;
    position: absolute;
    //bottom: 30vh;
    bottom: 100px;
    transform-style: preserve-3d;
}

$total: 30;

@for $i from 1 through $total {
    $scale: random(2) - .7;

    .svg:nth-child(#{$i}) {
        left: 0;
        animation: raise#{$i} 6+random(15)+s linear infinite;
        animation-delay: 20ms;
        transform: rotate(random(360) + deg);
        z-index: $i - 50;
        filter: blur(($i % 10)- 6 + px);

        @keyframes raise#{$i} {
            to {
                bottom: 100%;
                transform: rotate(random(360) + deg);
            }
        }
    }
}